head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns#")
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="description", content=DESCRIPTION)
  meta(name="keywords", content=KEYWORD)
  meta(name="author", content=AUTHOR)
  meta(name="copyright", content=COPY_RIGHT)
  
  //-================ SNS ================-//
  //- mixi
  meta(property="mixi:title", content="MIXI TITLE")
  meta(property="mixi:description", content="MIXI DESCRIPTION")
  meta(property="mixi:content-rating", content="1")
  
  //- facebook
  meta(property="fb:app_id", content=site_info.fb_id)
  meta(property="og:title", content="")
  meta(property="og:type", content="")
  meta(property="og:site_name", content="")
  meta(property="og:url", content=page_info.absolute_path)
  meta(property="og:image", content="")
  meta(property="og:description", content=DESCRIPTION)
  
  //-================ TITLE ================-//
  title= TITLE? TITLE + ' | ' + site_info.name : site_info.name
  
  //-================ FAVICON ================-//
  link(rel="shortcut icon", href="", type="image/vnd.microsoft.icon")
  
  //-================ REL ================-//
  link(rel="index", href="/")
  
  //-================ STYLE ================-//
  link(rel="stylesheet", href="/css/style.css")
  block style
  //-================ SCRIPT ================-//
  block scripts
