<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description" content="<%= PAGE_IFNO['description'] %>">
<meta name="keywords" content="<%= PAGE_IFNO['keywords'] %>">
<meta name="author" content="AUTHOR">
<meta name="copyright" content="COPY RIGHT">
<meta property="mixi:title" content="MIXI TITLE">
<meta property="mixi:description" content="MIXI DESCRIPTION">
<meta property="mixi:content-rating" content="1">
<meta property="fb:app_id" content="<%= PAGE_IFNO['fb:app_id'] %>">
<meta property="og:title" content="<%= PAGE_IFNO['og:title'] %>">
<meta property="og:type" content="<%= PAGE_IFNO['og:type'] %>">
<meta property="og:site_name" content="<%= PAGE_IFNO['og:site_name'] %>">
<meta property="og:url" content="<%= PAGE_IFNO['og:url'] %>">
<meta property="og:image" content="<%= PAGE_IFNO['og:image'] %>">
<meta property="og:description" content="<%= PAGE_IFNO['og:description'] %>">
<title><%= PAGE_IFNO['title'] %></title>
<link rel="shortcut icon" href="FAVICON PATH">
<link rel="index" href="/">
<link rel="stylesheet" href="/css/style.css">
<%
  if( typeof localStyle === "function" ){
    localStyle();
  }
-%>
<script src="js/rnt.js"></script>
<%
  if( typeof localScript === "function" ){
    localScript();
  }
-%>
</head>
<body id="siteID">
<% include ../_includes/_header.ejs %>
<div class="main">
  <div class="inner">
    <% content(); -%>
  <!-- /.inner --></div>
<!-- /.main --></div>
<% include ../_includes/_footer.ejs %>
</body>
</html>