//- ------------------------------------
//- extend
//-
extends /_layouts/_default

//- ------------------------------------
//- variables this page
//-
block variables
  - const TITLE       = 'AWESOME TITLE';
  - const DESCRIPTION = 'AWESOME DESCRIPTION';
  - const KEYWORD     = 'AWESOME KEYWORD';

//- ------------------------------------
//- style this page
//-
block style
  //- example
  //- link(rel="stylesheet", href="css/style.css")

//- ------------------------------------
//- script this page
//-
block scripts
  //- example
  //- script(src='js/script.js')


//- ------------------------------------
//- content this page
//-
block content
  h1= SITE_INFO.name
  h2= SITE_INFO.domain
  h3= SITE_INFO.favicon_path
  p!= SITE_INFO.copy_right
  p= PAGE_INFO.absolute_path
  p= PAGE_INFO.local_path
  p= dictionary.pages.index.hello_world
